/* Logo e Sfondo del Logo */
header{
    background-image: url(../img/pattern.png);
    background-color: #408eef;
    background-size: contain;;
    height: 150px;
}

#Logo{
    width: 300px;
    margin-top: 70px;
}
/*Fine Logo e Sfondo del Logo */

/********Main********/
.Testo-grigio{
    color: gray;
}
#Testo-blu{
    color: #199dfb;

}

.Testo-piccolo{
    font-size: 10px;
}

.sfondo-giallo{
    background-color: yellow;
}
.tabella{
    text-align: left;
}

.titoli-tabella{
    background-color: #5fedff;
    color: white;
}

.tbody-sfondo{
    background-color: #56dbe8 ;
}

/******** Fine Main********/

/********Footer********/

.prima-foto{
    background-image: url("../img/monitor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 210px;
    color: white;
}

.seconda-foto{
    background-image: url("../img/graph.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 210px;
    color: white;
}
/********Fine Footer********/
